.full-width{
  width: 100%;
  height: 55px;
  background: #727cff;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
}

.navbar{
  padding: 15px 30px;
}

.title{
  float: left;
}

.title a{
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
  text-decoration: none;
}


.nav{
  float: right;
  margin-top: -5px;
}

.nav img{
  height: 35px;
  width: 140px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
}
.nav img:hover{
  box-shadow: .4px .4px .4px rgba(0,0,0,.3);
}

i.fa{
  color: white;
  position: relative;
  top: 8px;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
}
