.card{
  float: left;
  background: rgba(114,124,255,.2);
  width: 250px;
  box-shadow: 2px 2px 4px rgba(114,124,255,.5), 0 0 .5px 1px rgba(114,124,255,.5);
  font-family: sans-serif;
  margin: 10px;
}

.img-container img{
  width: 250px;
}

.description-container{
  padding: 8px 10px;
  text-align: center;
}
.description{
  color: #333;
}

.user-container{
  padding-top: 2px;
  padding-right: 5px;
  background: #727cff;
  height: 15px;
}
.user{
  float: right;
  font-size: 10px;
  color: white;
  cursor: pointer;
}

.remove{
  font-size: 10px;
  color: white;
  margin-left: 6px;
  position: relative;
  top: -4px;
  cursor: pointer;
}